@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial;
}

:root{
  --text-dark: #77444e;
  --pink-1: #B66878;
  --pink-2: #C98895;
  --pink-3: #D49BA7;
  --pink-4: #DAABB5;
  --pink-5: #EFC3CA;
  --pink-6: #FBD9DE;
}