.menu-container{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
  
  
}

.menu-container h1{
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 1000;
}

.menu-container .item{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 200px;
 background-color: white;
 border-radius: 20px;
 padding: 20px;
 box-sizing: border-box;
}

.menu-container .item-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.menu-container h3{
  font-size: 24px;
  font-weight: 800;
}

.menu-container p{
  font-size: 14px;
  font-weight: 300;
}

.menu-container button{
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  align-self: end;
  color: var(--pink-2);
  background-color: white;
}
.menu-container button:hover{
  
  color: var(--pink-4);
  text-decoration: underline;
  text-underline-offset: 3px;
  
}

.items-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 40px;
  justify-content: center;
  align-items: center ;
  background-color: var(--pink-4);
  padding: 80px 80px;
  box-sizing: border-box;
  border-radius: 30px;
}